@font-face {
    font-family: 'DalseoHealingBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/DalseoHealingBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }
    *{
        font-family: DalseoHealingBold;
    }
    body{
        height: 100%;
    }
    #map{
        z-index: 1;
    }

    .map_wrap{
        font-size:20px;
        position: absolute;
        left: 9px;
        width: 25%;
        height: 70%;
        z-index: 2;
        background-color: #93C6D5E5;
        margin-bottom: 10%;
    }

    #menu_wrap{
        display: flex;
        flex-direction: column;
        text-align: center;

    }


      #searchInput {
        padding: 0;
        background: #ffffff;
        border: #78b2c4e5;
        outline: none;
        font-size: 15px;
        line-height: 40px;
        margin: 20px 0px 20px 0px;
      }
    #search_btn {
        width: 50px;
        height: 40px;

    }
    #selectedArea, #commercialArea, #commercialAreaName{
        margin-bottom: 3%;

    }


    .service {
        margin: -4px 0 0 -2px;
        margin-top: 1%;
    }



   .servicecode {
        border: 1px solid;
        width: 100px;
        height: 40px;
        margin: 10px 5px 0px 0px;
        justify-content: center;
        border-radius: 5px;
        font-size : 14.8px;
        background-color:rgb(255, 255, 255); border-color:rgba(0, 0, 255, 0); color:rgb(0, 0, 0)
   }
   .clicked {
        color: rgb(73, 104, 238);
   }

    .clickreport{
        background-color: rgba(205, 226, 235, 0);
        border-style: none;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 100%;
        margin: 15px 0px 0px 0px;
    }
      #report, #reload{
        border: 2px solid;
        width: 100px;
        height: 40px;
        margin: 10px 10px 0px 0px;
        justify-content: center;
        border-radius: 5px;
        font-size : 14.8px;
        background-color:rgba(131, 159, 236, 0.799); border-color:rgb(120, 120, 216); color:rgb(7, 10, 14)
    }


    /*.clickreport{*/
    /*    background-color: rgba(205, 226, 235, 1);*/
    /*    border-style: none;*/
    /*    width: 50%;*/
    /*    font-size: 25px;*/
    /*    margin-top: 10%;*/


    /*}*/


 /*    .label {margin-bottom: 96px;}
    .label * {display: inline-block;vertical-align: top;} */
/* .label .left {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png") no-repeat;display: inline-block;height: 24px;overflow: hidden;vertical-align: top;width: 7px;}
.label .center {background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png) repeat-x;display: inline-block;height: 24px;font-size: 12px;line-height: 24px;}
.label .right {background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px 0  no-repeat;display: inline-block;height: 24px;overflow: hidden;width: 6px;} */
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f9de0d;

}

.circlecnt{
    width: 50px;
    height: 20px;
    border-radius: 30%;
    background-color: white;
    text-align: center;

}



.ResultReport{
    position :absolute ;
    overflow: auto;
    left: 54%;
    font-size:30px;
    width: 700px;
    height: 100%;
    z-index: 2;
    background-color: #ffffff;

}
.ResultReportNone{
    display:none;
}
.ReportHead{
    font-size:20px;
}
.reporttext{
    font-size:20px;

    margin-right: 15%;
    margin-bottom: 3%;
}

.reporttitle{

    text-align: center;
    font-size:28px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: blue;
    text-decoration-thickness: 4px;

    margin-bottom: 2%;

}
.chart-wrap{
   text-align: center;

}
canvas{
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
}
hr {
  height: 3px;
  background-color: blue;
}
.reportexplain{
    font-size:18px;
    margin-bottom: 7%;

}
.chart{
    margin-left:15%;
    width:500px;
    text-align: center;
}
.piechart{
    margin-left: 20%;
}
#reportend0, #reportend1{
    margin-left: 15%;
}

.charts{
    width: 500px;
    height:300px;

}

#ReportTitleBar{
    text-align: center;
    display: flex;
    background-color: rgb(184, 215, 228);
    /*justify-content: space-between;*/
    font-size:24px;
    border: 10px solid #78b2c400;
}

#clock{
    margin-top: 3%;
    font-size: 10px;
}
#close{
    margin-left:470px;
    font-size:30px;
}
#logo{
    width:180px;
    height:80px;
}
 #title{
        background-color: rgb(243, 239, 210);
        font-size: 32px;
        /*text-align: center;*/
        /*border-style: solid;*/
        /*border-color: #e0e0fd;*/

    }