<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>김황배의 골목식당</title><base href="http://127.0.0.1:8000/index/" />
    <link rel="stylesheet" href="{% static 'elastic/css/style.css' %}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div id="title">
<img id="logo" src="{% static 'elastic/image/logogo.png' %}">
<div id="title1">김황배의 골목식당</div>
</div>

 <div class="map_wrap" >
    <div id="menu_wrap" class="bg_white">
        <div class="search">
            <div>
                <form  action="" method="get" onsubmit="return false;">
                     <input id="searchInput" class="searchInput" type="search" name="guName" placeholder="검색어 입력"
                     onfocus="this.placeholder=''" onblur="this.placeholder='검색어 입력'">
                     <input id="search_btn" type="submit"  value="검색" >
                </form>
            </div>
        </div>

    <div id="selectedArea">
        <span>선택된 지역 : </span>
        <span id="selectArea"></span> <!--이 곳에 선택한 지역  -->
    </div>
        <div id="commercialArea">
            <span>선택된 상권 :</span>
            <span id="cA1"></span> <!--이 곳에 선택된 상권   -->
        </div>
        <div id="commercialAreaName">
            <span>선택된 상권이름 :</span>
            <span id="cA2"></span> <!--이 곳에 선택된 상권이름  -->
        </div>
    <section class="service">
        <button class="servicecode" value="한식음식점" onclick="bringClickValue(this);">한식음식점</button>
        <button class="servicecode" value="일식음식점" onclick="bringClickValue(this);">일식음식점</button>
        <button class="servicecode" value="중식음식점" onclick="bringClickValue(this);">중식음식점</button>
        <button class="servicecode" value="제과점" onclick="bringClickValue(this);">제과점</button>
        <button class="servicecode" value="패스트푸드점" onclick="bringClickValue(this);">패스트푸드점</button>
        <button class="servicecode" value="치킨전문점" onclick="bringClickValue(this);">치킨전문점</button>
        <button class="servicecode" value="분식전문점" onclick="bringClickValue(this);">분식전문점</button>
        <button class="servicecode" value="호프/간이주점" onclick="bringClickValue(this);">호프/간이주점</button>
        <button class="servicecode" value="커피/음료" onclick="bringClickValue(this);">커피/음료</button>
    </section>

        <div class="clickreport">
        <button  onclick="clickReport(); showReportHead();" id="report" disabled>분석하기</button>
        <button id="reload" >새로고침</button>
    </div>
</div>
</div>

<div id="map" style="width:100%;height:700px;">
<!-- position:relative;overflow:hidden; -->
<div class="ResultReport" style="display: none" >
   <!--분석 리포트 띄우는 창 !  -->
    <!--분석 리포트 띄우는 창 !  -->
    <div id="ReportTitleBar">
        <div id="reportTitle">분석리포트</div>
        <div id="clock" style="color:black;">clock</div>
        <div id="close" onclick="closeReport();">X</div>
    </div>
    <div class="ReportHead">
        <sapn>위치:</sapn>
        <span id="reportHeadGuname"></span>
        <br>
        <span>상권:</span>
        <span id="reportHeadsg"></span>
        <br>
        <span>상권이름:</span>
        <span id="reportHeadsgName"></span>
        <br>
        <span>요식업종:</span>
        <span id="reportHeadservicecode"></span>
        <span>의 분석 결과입니다. </span>
        <hr>
        <div id="resultpopulation"></div>
    </div>
    <div class="ResultReport0">
        <div class="chart-wrap" >
            <div class="reporttitle">업종 분석</div>
            <div class="chart">
            <canvas id="점포수"  ></canvas>
            <div class="reportexplain" >분기별 점포수</div>
            <canvas id="프랜차이즈" class="piechart" width="height:10vh; width:10vw" ></canvas>
                <div class="reportexplain" >일반점포/프랜차이즈 </div>
                <div class="max" id="m1"></div>
            <canvas id="개업수"  ></canvas>
                <div class="reportexplain" >분기별 개업수 </div>
            <canvas id="폐업수"  ></canvas>
                <div class="reportexplain" >분기별 폐업수 </div>
                </div>
             <div class="reporttitle">매출 분석</div>

            <div class="chart">
            <canvas id="요일별매출"   ></canvas>
                <div class="reportexplain" >요일별 매출 </div>
                <div class="max" id="m2"></div>
            <canvas id="시간대별매출" ></canvas>
                <div class="reportexplain" >시간대별 매출 </div>
                <div class="max" id="m3"></div>
            <canvas id="성별매출" class="piechart" width="height:10vh; width:10vw" ></canvas>
                <div class="reportexplain" >성별 매출 </div>
                <div class="max" id="m4"></div>
            <canvas id="연령대별매출"  ></canvas>
                <div class="reportexplain" >연령대별 매출 </div>
                <div class="max" id="m5" ></div>
            </div>
            <div class="reporttitle">인구 분석</div>
            <div class="chart">
            <canvas id="성별인구" class="piechart" width="height:10vh; width:10vw"></canvas>
                <div class="reportexplain" >성별 유동인구 </div>
                <div class="max" id="m6"></div>
            <canvas id="연령대인구"  ></canvas>
                <div class="reportexplain" >연령대별 유동인구 </div>
                <div class="max" id="m7"></div>
            <canvas id="요일인구"  ></canvas>
                <div class="reportexplain" >요일별 유동인구 </div>
                <div class="max" id="m8"></div>
            <canvas id="시간대인구"   ></canvas>
                <div class="reportexplain" >시간대별 유동인구 </div>

            <div class="max" id="m9">총 생활인구는 <span id="totalpopulation"></span>명이고,
            <div><span id="maxTimePeople"></span>시 유동인구가 가장 많아요!</div>
            </div>
            <canvas id="연령대별상주인구"  ></canvas>
                <div class="reportexplain" >연령대별 상주인구 </div>


             <div class="max" id="m10">총 상주인구는 <span id="totaldwellingpopulation"></span>명이고,
                 <div><span id="maxAgeLive"></span> 상주인구가 가장 많아요!</div></div>
                <canvas id="연령대별직장인구" class="charts"  ></canvas>
                <div class="reportexplain" >연령대별 직장인구 </div>


             </div>
            <div class="chart">
             <div class="max" id="m11">총 직장인구는 <span id="totalworkplacepopulation"></span>명이고,
             <div><span id="maxAgeLive2"></span> 직장인구가 가장 많아요!</div>
             </div>
             <div class="reporttitle" >주요시설, 집객시설 현황 </div>
            <div class="reporttext" id="reportend1">총 집객시설 수는 <span id="totalvisitorfacilities"></span>개 입니다.</div>
            </div>
            </div>
    </div>
</div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a9792b3125b1c069b26e0cd44dd8c3ed&libraries=clusterer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script type="text/javascript" src="/static/elastic/js/gudata.js"></script>
<script type="text/javascript" src="/static/elastic/js/main.js"></script>

</body>
</html>