<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>김황배의 골목식당</title>
{#    <link href="css/style.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'elastic/css/style.css' %}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>

<h1>김황배의 골목식당</h1>
<div class="map_wrap" >
    <!-- <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div> -->
    <div id="menu_wrap" class="bg_white">
        <div class="search">
            <div>
                <form action="" method="get">
                    지역 <input type="search" name="guName">
                    <input type="submit" value="검색">
                </form>
            </div>
        </div>

    <div id="selectedArea">
        <span>선택된 지역 : </span>
    </div>
    <section class="service">
        <button class="servicecode" value="한식음식점">한식음식점</button>
        <button class="servicecode" value="일식음식점">일식음식점</button>
        <button class="servicecode" value="중식음식점">중식음식점</button>
        <button class="servicecode" value="제과점">제과점</button>
        <button class="servicecode" value="패스트푸드점">패스트푸드점</button>
        <button class="servicecode" value="치킨전문점">치킨전문점</button>
        <button class="servicecode" value="분식전문점">분식전문점</button>
        <button class="servicecode" value="호프/간이주점">호프/간이주점</button>
        <button class="servicecode" value="커피/음료">커피/음료</button>
    </section>
    <div class="report">
        <button id="report">분석하기</button>
    </div>
    <div class="reload">
        <button id="reload" >새로고침</button>
    </div>
</div>
</div>
<div id="map" style="width:100%;height:700px;"></div>
<!-- position:relative;overflow:hidden; -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a9792b3125b1c069b26e0cd44dd8c3ed&libraries=clusterer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

 function panTo(lat,lng) {
            // 이동할 위도 경도 위치를 생성합니다

             // 지도 중심을 부드럽게 이동시킵니다
             // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
             //클릭 이벤트가 발생했을 때 그 당시의 위도 경도를 파라미터로 넘겨받아서 그때 그때 만들어주는것 ...!
            moveLatLon= new kakao.maps.LatLng(lat, lng)
            /* map.panTo(moveLatLon); */
            // 지도 레벨을 4로 설정하고 특정 좌표를 기준으로 확대 또는 축소되도록 한다
            map.setLevel(4, {anchor: new kakao.maps.LatLng(lat, lng)});
            map.panTo(moveLatLon);
    }
function showgu(gu){
    document.getElementById('selectedArea').innerHTML+= gu;


}


    var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
        center : new kakao.maps.LatLng(37.564214, 127.001699), // 지도의 중심좌표
        level :8  // 지도의 확대 레벨 , 8로 설정해야 서울시를 한눈에 보기 편함
    }); // 지도를 생성합니다

    let service ;
    $(document).ready(function() {
     $('.servicecode').on("click", function() {     //버튼 클릭시 호출되는 함수
           $(this).addClass('active');      //클릭된 버튼에 속성(class 추가)
           $(this).attr("disabled", true);
           service=($(this).val());//클릭된 버튼의 value 값
           $('.selectedArea').after(service);
     });
    });

    $('.reload').on("click",function(){
        location.reload();
    })



// 커스텀 오버레이에 표시할 내용입니다
// HTML 문자열 또는 Dom Element 입니다

let guname = new Array() ; // 구 이름을 저장할 배열선언
let gulat= new Array() ;
let gulng= new Array() ;
let moveLatLon= new Array() ;
var position; //// 커스텀 오버레이가 표시될 위치입니다


/* var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 8, // 클러스터 할 최소 지도 레벨
        disableClickZoom: true // 클러스터 마커를 클릭했을 때 지도가 확대되지 않도록 설정한다
    }); */
/* $.get("http://127.0.0.1:8000/elastic/map/", function(data) {
        // 데이터에서 좌표 값을 가지고 마커를 표시합니다
        // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다
        console.log(data);
        var markers = $(data.positions).map(function(i, position) {
            return new kakao.maps.Marker({
                position : new kakao.maps.LatLng(position.lat, position.lng)

            });
        });

        // 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);
    }); */

$.getJSON('http://127.0.0.1:8000/map/', function(data){

    var aJsonArray = new Array(); //json 데이터 저장할 배열

    $.each(data.positions, function(i, item ){ // 제이쿼리 each  == for문  position{} 에 접근해서 lat, lng, gu 하나씩 저장

        var jsondata = JSON.stringify(item); // 문자열변환
       //console.log(jsondata) // {"lat":"33.450690851406016","lng":"126.57040313031214"}
         // lat : "123", "lng" : 123 형식이어야 파싱 성공


        var obj = eval("("+jsondata+")"); //object 형태로 변경
       //console.log(obj) // {lat: "33.450690851406016", lng: "126.57040313031214"}


        var aJson = new Object(); //오브젝 생성

        aJson.lat = obj.lat;  //오브젝트에 값 저장
        aJson.lng = obj.lng;
        aJson.gu = obj.gu;
        aJson.cnt = obj.cnt;

        aJsonArray.push(aJson); //오브젝트값을 배열에 저장


    })
    console.log(aJsonArray);


     $.each(aJsonArray, function (index, item) //for 문 index- 0,1,2,,, item- {lat, lng, gu}
    {
        position = new kakao.maps.LatLng(item.lat,item.lng);
        guname[index] = item.gu; //구 이름 저장
        gulat[index] = item.lat;
        gulng[index] = item.lng;

        var customOverlay = new kakao.maps.CustomOverlay({
        position: position,
       /*  content : '<div class ="label"><span class="left"></span><span class="center">'+item.gu+ item.cnt+'</span><span class="right"></span></div>' , */
        content : '<div class="circle" onclick="panTo('+item.lat+','+item.lng+'); showgu(\'' + item.gu + '\')" title="클릭"><span class ="circlegu">'+item.gu+ '</span><div class="circlecnt">'+item.cnt+'</div></div>'
        //함수를 실행할 때 현재 위도 경도를 넘겨줌
        });



        customOverlay.setMap(map);




    })

})

</script>
</body>
</html>